<div class="main-form">
  <div class="main-card">
    <div class="main-title">
      <div class="main-title-bar">
        <div class="left">
          <span class="title">Quota Request{{formMode=='SAVE'?'':'Update'}}</span>
          <!--          <span class="title">Request Token Update{{formMode=='SAVE'?'':'Update'}}</span>-->
        </div>
        <div class="mid"></div>
        <div class="right">
          <button color="primary" mat-button (click)="resetForm()">
            <mat-icon>restart_alt</mat-icon>
            Reset
          </button>
          <button color="primary" mat-button (click)="onSave()" *ngIf="formMode=='SAVE'">
            <mat-icon>save</mat-icon>
            Save
          </button>
          <button color="primary" mat-button (click)="onUpdate()" *ngIf="formMode=='UPDATE'">
            <mat-icon>save</mat-icon>
            Update
          </button>
          <button color="primary" mat-button (click)="onBack()">
            <mat-icon>reply_all</mat-icon>
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="main-form-content">
      <form [formGroup]="auditForm" (submit)="onSave()">
        <div class="form-row">
          <mat-form-field appearance="outline">
            <input matInput  formControlName="vehicleRegNo" >
            <mat-label>Vehicle Reg No.</mat-label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput  formControlName="requestQuota" type="number">
            <mat-label>Request Quota</mat-label>
          </mat-form-field>


        </div>

        <div class="form-row">

          <mat-form-field appearance="outline" >
            <mat-label>Fuel Station</mat-label>
            <mat-select [formControl]="fuelStation">
              <mat-option [value]="">
                Deselect
              </mat-option>
              <mat-option *ngFor="let option of filteredFuleStations" [value]="option">
                {{option.stationName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput  formControlName="payment" type="number">
            <mat-label>Pay</mat-label>
          </mat-form-field>
        </div>

        <div class="form-row">


          <div style="width: 45%"></div>

        </div>


      </form>


    </div>
  </div>
</div>

